@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

:root,
.dark {
  --color-background: #0F0F1A;
  --color-foreground: #1a1a2b;
  
  --color-text-primary: #ffffff;
  --color-text-secondary: #676a7e;
  
  --color-border-primary: #272943;
  --color-border-secondary: #1d1e32;

  --color-brand-purple-dark: #bb00b8;
  --color-brand-purple: #F900F4;
  --color-brand-black: #000000;
  --color-brand-blue-accent: #8C92F5;
  --color-brand-blue-soft: #464878;
  --color-brand-blue: #5B30CB;
  --color-brand-blue-dark: #26263D;
  --color-brand-blue-super-dark: #1E1E33;
  --color-brand-cyan: #447890;
  --color-brand-green: #D9D470;

  --color-line: #5555777d;
}

.light {
  --color-background: #fffed9;
}
